<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% for room in rooms %}
    <a href="{% url "chat:chat_page" room.pk %}">채팅방</a>
    <form action="{% url "chat:chatroom_delete" room.pk %}">
      {% csrf_token %}
      <input type="submit" value="채팅방 삭제">
    </form>
    <br>
  {% endfor %}
  <form action="{% url "chat:chatroom_create" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="새 채팅방">
  </form>
</body>
</html>