body {
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
    font-family: 'Pretendard', sans-serif;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-size: 16px;
    box-sizing: border-box;
}


/* ---------- */
/* 1. 사이드바 */
/* ---------- */
.sidebar {
    width: 75px;
    height: 100%;
    background-color: #F3F3F3;
    color: #8B8B8B; 
    padding: 20px 0;
    box-sizing: border-box;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    flex-shrink: 0; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    position: relative;
}

.sidebar.open {
    width: 300px; 
    padding: 20px 30px 0 20px;
    overflow-y: auto;
}

/* 토글 버튼 */
.toggle-btn {
    position: absolute; 
    left: 0;
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(17.5px);  /* 닫혔을 때 중앙 정렬 위치로 고정 */
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
    color: #8B8B8B; 
}

/* 토글이 열려도 버튼 위치 고정 */
.sidebar.open .toggle-btn {
    transform: translateX(17.5px);
}

/* 토글 아이콘 */
.toggle-icon {
    font-size: 23px;
}

/* 대화 내역 저장 */
.recent-list {
    padding: 50px 0 0 10px;
}

.recent-title {
    margin: 15px 0;
}

.recent-list .recent-title {
    font-weight: 700;
}

.sidebar.open .recent-list {
    opacity: 1;
}

/* 최근 대화 목록 */
.chat-list {
    padding: 0;
    list-style: none;
    overflow-y: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar.open .chat-list {
    opacity: 1;
}

/* 채팅방 제목이 아닌 빈 공간 선택 시에도 이동 가능 */
.chat-list-left {
  flex: 1;
}

.chat-list-left a {
  display: block;
  width: 100%;
  height: 100%;
}


.chat-list .chat-list-right {
    display: flex;
    align-items: center;
    gap: 7px;
}

.chat-list li {
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex; /* 일렬 */
    justify-content: space-between;
}

.chat-list a {
    font-size: 16px;
    color: #5A5A5A;
    text-decoration: none;
}

.chat-list li:hover {
    background-color: #E5E5E5;
}

/* 수정 버튼 */
.chat-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* 새로운 채팅 버튼 */
.new-chat-btn {
    padding: 15px 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #5A5A5A;
    font-family: 'Pretendard', sans-serif;
}

/* 닫힌 상태에서 채팅 리스트 숨기기 */
.sidebar:not(.open) .recent-title,
.sidebar:not(.open) .chat-list {
    position: absolute; 
    visibility: hidden;
}


/* ---------- */
/* 2. 상단 바 */
/* --------- */
.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.chat-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.chat-header-left,
.chat-header-right {
    display: flex;
    gap: 30px;
}

.chat-header .chat-header-left {
    margin-left: 10px;
}

.chat-header .chat-header-left img {
    height: 22px;
}

.chat-header .chat-header-right a {
    font-size: 15px;
    font-weight: 700;
    color: #8B8B8B;
    text-decoration: none;
}


/* --------------- */
/* 3. 메인 채팅 영역 */
/* --------------- */
.chat-main {
    flex-grow: 1;
    height: 100%; 
    display: flex;
    /* 스크롤 하단 고정 */
    flex-direction: column-reverse;
    background-color: #FFFFFF;
    margin-left: 10px; 
    border-radius: 20px;
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

/* 채팅 메시지 출력 영역 */
.messages-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* 아래부터 대화가 쌓이도록 하기 */
    justify-content: flex-end;
}

/* 개별 메시지 컨테이너 */
.message-container {
    display: flex;
    margin-bottom: 15px; 
    width: 100%;
}

/* 말풍선 공통 스타일 */
.bubble {
    max-width: 50%; 
    padding: 20px; 
    border-radius: 20px; 
    line-height: 1.5;
    display: flex;
    align-items: center; 
}

/* 봇 말풍선 */
.bot-message {
    justify-content: flex-start;
}

.bot-message .bubble {
    background-color: #F3F3F3; 
    color: #000000; 
    border-bottom-left-radius: 0; 
}

/* 사용자 말풍선 */
.user-message {
    justify-content: flex-end;
}

.user-message .bubble {
    background-color: #3F72AF; 
    color: #FFFFFF; 
    border-bottom-right-radius: 0;
    margin-left: auto;
}


/* ----------- */
/* 4. 입력 영역 */
/* ----------- */
.input-area {
    display: flex;
    align-items: center;
    padding: 20px 40px 5px 20px; 
    flex-shrink: 0;
    position: relative; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 대화 입력 창 */
#chat-input {
    flex-grow: 1;
    height: 100px; 
    border: 1px solid #E5E5E5; 
    background-color: #FFFFFF; 
    border-radius: 20px;
    padding: 15px 70px 15px 30px; 
    font-size: 15px;
    resize: none; 
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-family: 'Pretendard', sans-serif;
}

/* 호버 시 색상 변경 없음 */
#chat-input:focus {
    outline: none;
}

/* 전송 버튼 */
#send-btn {
    height: 30px; 
    width: 35px; 
    background-color: transparent; 
    color: #8B8B8B; 
    border: none;
    border-radius: 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: color 0.2s; 

    /* 버튼 위치 */
    position: absolute;
    right: 50px; 
    bottom: 20px; 
}

/* 호버 시 검은색으로 색상 변경 */
#send-btn:hover {
    background-color: transparent;
    color: #000000; 
}
