body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Pretendard', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
}

/* --------- */
/* 1. 상단바 */
/* --------- */
.header-buttons {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    gap: 15px;
}

.header-buttons a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: 700;
}

/* 회원 정보, 관심 상품 버튼 */
.info-btn {
    border: none;
    color: #8B8B8B;
}

/* 로그인 or 로그아웃 버튼 */
.logout-btn {
    border: none;
    color: #3F72AF;
}

/* ------------- */
/* 2. 중앙 검색 창 */
/* ------------- */

/* 로고 */
.main-link img {
  height: 55px;
  width: auto;
  display: block;
  padding-bottom: 70px;
}

.main-content {
    margin-top: 20vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 1000px;
}

.search-input-wrapper {
    width: 800px;
    height: 55px;
    background-color: #FFFFFF;
    border: 1.5px solid #E5E5E5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.search-submit-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    
    font-size: 30px;
    color: #A9A9A9;
    margin-right: 5px;
    
    height: 100%; 
    display: flex;
    align-items: center;
    
    /* 좌우대칭 */
    transform: scaleX(-1);
    transition: color 0.2s;
}

.search-submit-btn:hover {
    color: #000000;
}

.search-input {
    flex-grow: 1;
    padding-left: 10px;
    border: none;
    outline: none; 
    background: none;
    font-size: 16px;
    color: #000000;
    font-family: 'Pretendard', sans-serif;
}

.search-input::placeholder {
    color: #A9A9A9;
    font-size: 16px;
}


/* --------------- */
/* 3. 추천 상품 영역 */
/* --------------- */

.recommend-section {
    margin-top: 70px;
    width: 100%;
    max-width: 1200px;
    text-align: left;
}

.recommend-title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
    color: #5a5a5a;
    padding-left: 5px;
}

.highlight-title {
    color: #3F72AF;
    font-weight: 800;
}

.card-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.rec-card {
    width: 300px;
    height: 200px;
    padding: 25px;
    background-color: #F3F3F3;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rec-card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #5a5a5a;
}

.rec-card p {
    line-height: 1.5;
    color: #5a5a5a;
}

.rec-card-inner {
    margin-top: 20px;
    padding: 0 10px 0 10px;
}


/* ------------- */
/* 4. 페이지네이션 */
/* ------------- */

.pagination {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    font-size: 13px;
}

.pagination a {
    color: #8B8B8B;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
}

.pagination span {
    color: #3F72AF;
    font-weight: 700;
    padding: 5px 10px;
}


/* ----------------------- */
/* 5. 오른쪽 하단 채팅 버튼  */
/* ---------------------- */

.chatbot-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: block;
    z-index: 1000;
}

.chatbot-btn img {
    width: 145px;
}
