body {
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    box-sizing: border-box;
}

/* ---------------- */
/* 1. 우측 상단 버튼 */
/* ---------------- */
.header-buttons {
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

.header-buttons a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 30px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* AI CHAT 버튼 */
.ai-chat-btn {
    border: none;
    color: #8B8B8B;
}

/* MY PAGE 버튼 */
.mypage-btn {
    border: none;
    color: #8B8B8B;
}

/* LOGOUT 버튼 */
.logout-btn {
    border: none;
    color: #336294;
}

/* -------------- */
/* 2. 중앙 검색 창 */
/* -------------- */
.main-content {
    margin-top: 30vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    width: 1000px;
}

.search-input-wrapper {
    width: 800px;
    height: 55px;
    background-color: #FFFFFF;
    border: 1.5px solid #E5E5E5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.search-submit-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    
    font-size: 30px;
    color: #A9A9A9;
    margin-right: 5px;
    
    height: 100%; 
    display: flex;
    align-items: center;
    
    /* 좌우대칭 */
    transform: scaleX(-1);
    transition: color 0.2s;
}

.search-submit-btn:hover {
    color: #000000;
}

.search-input {
    flex-grow: 1;
    padding-left: 10px;
    border: none;
    outline: none; 
    background: none;
    font-size: 15px;
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
}

.search-input::placeholder {
    color: #A9A9A9;
    font-size: 15px;
}