body {
    background-color: #F3F3F3;
    font-family: 'Pretendard', sans-serif;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}

/* -------- */
/* 1. 상단바 */
/* -------- */

.main-link img {
  height: 25px;
  padding-left: 10px;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 30px;
    /* flex-wrap 상태에 간격 부여 */
    row-gap: 15px;
}

.left-group {
    display: flex;
}

.right-group {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-left: 10px;
}

.header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}

/* 회원 정보, 관심 상품 버튼 */
.info-btn {
    border: none;
    color: #8B8B8B;
}

/* 로그인 or 로그아웃 버튼 */
.logout-btn {
    border: none;
    color: #3F72AF;
}

/* --------- */
/* 2. 검색 창 */
/* --------- */

.search-header {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.search-bar {
    flex-grow: 1;
}

.search-input-wrapper {
    max-width: 800px;
    min-width: 280px;
    height: 55px;
    background-color: #FFFFFF;
    border: 1.5px solid #E5E5E5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.search-input {
    flex-grow: 1;
    padding-left: 10px;
    border: none;
    outline: none; 
    background: none;
    font-size: 16px;
    color: #000000;
    font-family: 'Pretendard', sans-serif;
}

.search-input::placeholder {
    color: #A9A9A9;
    font-size: 16px;
}

.search-submit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #A9A9A9;
    margin-left: 10px;
    transform: scaleX(-1);
    transition: color 0.2s;
}


/* ----------- */
/* 3. 검색 결과 */
/* ----------- */

.result-container {
    width: 100%;
    margin: 20px auto 50px auto;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.result-item {
    padding: 50px;
}

.result-item + .result-item {
    border-top: 1px solid #F3F3F3;
}

.product-name {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

/* 링크 밑줄 제거 */
.product-name-link {
    text-decoration: none;
}


.info-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    row-gap: 15px;
    margin-top: 10px;
    font-size: 16px;
}

.label {
    font-weight: 600;
    color: #5A5A5A;
}

.value {
    color: #5A5A5A;
    line-height: 1.5;
}

.no-result {
    font-size: 16px;
    color: #000000;
    padding: 50px;
}


/* --------------- */
/* 4. 관심 상품 버튼 */
/* --------------- */

.result-bookmark {
    display: flex;
    align-items: center;
    gap: 12px;
}

.bookmark-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #A9A9A9;
  padding-top: 5.5px;
}

.bookmark-btn svg {
  width: 25px;
  height: 25px;
}

.bookmark-btn.bookmarked {
  color: #FFBF30;
}

.bookmark-btn:not(.bookmarked) svg {
  transform: scale(0.92);
  transform-origin: center;
}


/* ------------- */
/* 5. 페이지네이션 */
/* ------------- */

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
    font-size: 15px;
}

.pagination a {
    color: #8B8B8B;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
}

.pagination span {
    color: #3F72AF;
    font-weight: 700;
    padding: 5px 10px;
}


/* ------------------ */
/* 6. 채팅 페이지 버튼  */
/* ----------------- */

.chatbot-btn {
    position: fixed;
    bottom: 3%;
    right: 2%;
    display: block;
    z-index: 1000;
}

@media (max-width: 1024px) {
    .chatbot-btn img {
        content: url('/static/images/finbot-btn-short.png');
        width: 55px;
    }
}

@media (max-height: 500px) {
    .chatbot-btn {
        display: none;
    }
}
