{# bookmark_list.html #}
{# 관심 상품 조회 화면 템플릿 #}

{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/bookmark-list.css' %}">
{% endblock styles %}

{% block content %}
<div class="content-wrapper">
  {# 상단바 #}
  <header class="header">
    <div class="left-group">
      {# 로고 이미지 #}
      <a href="{% url 'products:index' %}" class="main-link">
        <img src="{% static 'images/logo-gray.png' %}" alt="FINBOT Logo">
      </a>
    </div>

    <div class="right-group">
      <a href="{% url 'accounts:update' %}" class="info-btn">회원 정보</a>
      <a href="{% url 'accounts:logout' %}" class="logout-btn">로그아웃</a>
    </div>
  </header>

  <div class="bookmark-container">
    <h2 class="bookmark-title">
      {{ request.user.name }}님의 <span class="highlight-title">관심 상품 목록</span>
    </h2>

    <div class="product-container">
      {% if products %}
      {% for product in products %}
      <div class="bookmark-item">
        <p class="product-name">{{ product.fin_prdt_nm }}</p>
          <p style="font-weight: bold">{{ product.kor_co_nm }}</p>
          <p>{{ product.description }}</p>
      </div>
    {% endfor %}

    {% else %}
      <p class="no-item">아직 등록한 관심 상품이 없습니다.
        마음에 드는 상품을 추가해 보세요.</p>
    {% endif %}
    </div>
  </div>

  {# 채팅 페이지 버튼 #}
  <a href="{% url 'chat:current_chat' %}" class="chatbot-btn">
    <img src="{% static 'images/finbot-btn-long.png' %}" alt="FINBOT Chat">
  </a>
</div>
{% endblock content %}