{# update.html #}
{# 회원 정보를 조회 및 수정할 수 있는 페이지 템플릿 #}

{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/css/mypage-layout.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/update.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">

  {# 상단바 #}
  <header class="header">
    <div class="left-group">
      <a href="{% url 'products:index' %}" class="main-link">
        <img src="{% static 'images/logo-white.png' %}" alt="FINBOT Logo">
      </a>
    </div>

    <div class="right-group">
        <a href="{% url 'accounts:update' %}" class="active">회원정보 수정</a>
        <a href="{% url 'accounts:password' %}">비밀번호 변경</a>
        <a href="{% url 'accounts:delete' %}">회원 탈퇴</a>
    </div>
  </header>

  <form action="{% url 'accounts:update' %}" method="POST">
    {% csrf_token %}

    <div class="form-row">
      {# 1. 이름 입력 폼 #}
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">이름</label>
        {{ form.name }}
      </div>

      {# 2. 성별 선택 폼 #}
      <div class="form-group">
        <label for="{{ form.gender.id_for_label }}">성별</label>
        {{ form.gender }}
      </div>
    </div>

    <div class="form-row">
      {# 3. 나이 입력 폼 #}
      <div class="form-group">
        <label for="{{ form.age.id_for_label }}">나이</label>
        {{ form.age }}
      </div>

      {# 4. 직업 선택 폼 #}
      <div class="form-group">
        <label for="{{ form.job.id_for_label }}">직업</label>
        {{ form.job }}
      </div>
    </div>

    <div class="form-row">
      {# 5. 소득 선택 폼 #}
      <div class="form-group">
        <label for="{{ form.earnings.id_for_label }}">소득</label>
        {{ form.earnings }}
      </div>

      {# 6. 거주 지역 선택 폼 #}
      <div class="form-group">
        <label for="{{ form.life_area.id_for_label }}">거주 지역</label>
        {{ form.life_area }}
      </div>
    </div>

    {# 7. 채팅/정보 수정 내역 저장 버튼 #}
    <div class="btn-group">
      <a href="{% url 'chat:current_chat' %}" class="chatbot-btn">
        <img src="{% static 'images/finbot-btn-long.png' %}" alt="FINBOT Chat">
      </a>
      <button type="submit" class="btn-bottom-right">정보 수정</button>
    </div>
  </form>
</div>

<script>
  {% if messages %}
    {% for msg in messages %}
      alert("{{ msg }}");
    {% endfor %}
  {% endif %}
</script>
{% endblock content %}