{# verify.html #}
{# 회원 정보 페이지 진입 시에 #}
{# 본인 확인을 위해 한 번 더 로그인 인증을 요청하는 화면 템플릿 #}

{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/auth-layout.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/verify.css' %}">
{% endblock styles %}

{% block content %}
  <div class="container">

    {# 로고 이미지 #}
    <a href="{% url 'products:index' %}" class="main-link">
      <img src="{% static 'images/logo-white.png' %}" alt="FINBOT Logo">
    </a>
    {# 사용자가 어느 페이지에서 요청을 보냈느냐에 따라 출력되는 문구를 다르게 합니다. #}
    {% if session_key == "update" %}
      <p class="verify">개인정보 보호를 위해<br>
          <span class="notice">비밀번호를 다시 입력해 주세요</span>
      </p>
    {% else %}
      <p class="verify">회원 탈퇴를 위해<br>
          <span class="notice">비밀번호를 다시 입력해 주세요</span>
      </p>
    {% endif %}
    <form action="" method="POST">
      {% csrf_token %}

      <input type="hidden" name="next" value="{{ request.GET.next }}">

      {# 1. 비밀번호 입력 필드 #}
      <input type="password" name="password" placeholder="비밀번호 입력" required>
      {# 사용자가 어느 페이지에서 요청을 보냈느냐에 따라 출력되는 문구를 다르게 합니다. #}
      {% if session_key == "update" %}
        {# 2-1. 본인 확인 버튼 #}
        <button type="submit">본인 확인</button>
      {% else %}
        {# 2-2. 회원 탈퇴 버튼 #}
        <button type="submit">회원 탈퇴</button>
      {% endif %}
    </form>
  </div>
  <script>
    {% if messages %}
      {% for msg in messages %}
            alert("{{ msg }}")
      {% endfor %}
    {% endif %}
  </script>
{% endblock content %}