{# index.html #}
{# 검색 화면 템플릿 #}
{# 프로젝트의 메인 화면 #}

{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'products/css/index.css' %}">
{% endblock styles %}

{% block content %}
<header class="header-buttons">
  {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:update' %}" class="info-btn">회원 정보</a>
    <a href="{% url 'accounts:bookmark_list' %}" class="info-btn">관심 상품</a>
    <a href="{% url 'accounts:logout' %}" class="logout-btn">로그아웃</a>
  {% else %}
    <a href="{% url 'accounts:login' %}" class="logout-btn">로그인</a>
  {% endif %}
</header>

<main class="main-content">
  {# 로고 이미지 #}
  <a href="{% url 'products:index' %}" class="main-link">
    <img src="{% static 'images/logo-white.png' %}" alt="FINBOT Logo">
  </a>

  {# 검색 창 #}
  <form class="search-form" action="{% url 'products:search' %}" method="GET">
    <div class="search-input-wrapper">
      <input type="text" placeholder="검색어를 입력하세요" class="search-input" name="query">
      <button type="submit" class="search-submit-btn">&#x2315;</button> 
    </div>

    <button type="submit" style="display: none;">검색</button>
  </form>

  {% if recommended_products %}
  <section class="recommend-section">
    <h2 class="recommend-title">
      {% if request.user.is_authenticated %}
        {{ request.user.display_name }}님께 추천하는
        <span class="highlight-title">금융상품</span>
      {% else %}
        고객님께 추천드리는
        <span class="highlight-title">금융상품</span>
      {% endif %}
    </h2>

    <div class="card-container">
      {% for p in recommended_products %}
        <div class="rec-card">
          <div class="rec-card-inner">
            <h3>{{ p.fin_prdt_nm }}</h3>
            <p>{{ p.kor_co_nm }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {# 채팅 페이지 버튼 #}
  <a href="{% url 'chat:current_chat' %}" class="chatbot-btn">
    <img src="{% static 'images/finbot-btn-long.png' %}" alt="FINBOT Chat">
  </a>
</main>

<script>
  {% if messages %}
    {% for msg in messages %}
      alert("{{ msg }}");
    {% endfor %}
  {% endif %}
</script>
{% endblock content %}