{# product_detail.html #}
{# 상품 상세 정보 화면 템플릿 #}

{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'products/css/product-detail.css' %}">
{% endblock styles %}

{% block content %}
<div class="content-wrapper">

  <header class="header">
    <div class="left-group">
      {# 로고 이미지 #}
      <a href="{% url 'products:index' %}" class="main-link">
        <img src="{% static 'images/logo-gray.png' %}" alt="FINBOT Logo">
      </a>
    </div>

    <div class="right-group">
      {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:update' %}" class="info-btn">회원 정보</a>
        <a href="{% url 'accounts:bookmark_list' %}" class="info-btn">관심 상품</a>
        <a href="{% url 'accounts:logout' %}" class="logout-btn">로그아웃</a>
      {% else %}
        <a href="{% url 'accounts:login' %}" class="logout-btn">로그인</a>
      {% endif %}
    </div>
  </header>

  <div class="result-container">
    <div class="result-item">
      <p class="product-name">{{ product.fin_prdt_nm }}</p>

      <div class="info-grid">
        <div class="label">금융회사명</div><div class="value">{{ product.kor_co_nm }}</div>
        <div class="label">가입방법</div><div class="value">{{ product.join_way }}</div>
        <div class="label">회사유형</div><div class="value">{{ product.company_type }}</div>
        <div class="label">공시 시작일</div><div class="value">{{ product.dcls_strt_day }}</div>
        <div class="label">공시 종료일</div><div class="value">{{ product.dcls_end_day }}</div>
        <div class="label">공시 월</div><div class="value">{{ product.dcls_month }}</div>
        <div class="label">상품 설명</div><div class="value">{{ product.description }}</div>
      </div>

      {# 적금 #}
      {% if product.category == "installment_deposit" %}
        <p class="option-name">적금 옵션</p>

        {% for p in installment_options %}
        <div class="option-card">
          <div class="info-grid">
            <div class="label">가입 대상</div><div class="value">{{ p.join_member }}</div>
            <div class="label">만기 후 이자율</div><div class="value">{{ p.mtrt_int }}</div>
            <div class="label">우대조건</div><div class="value">{{ p.spcl_cnd }}</div>
            <div class="label">가입제한</div><div class="value">{{ p.join_deny }}</div>
            <div class="label">최고한도</div><div class="value">{{ p.max_limit }}</div>
            <div class="label">적립 유형명</div><div class="value">{{ p.rsrv_type_nm }}</div>
            <div class="label">저축 금리 유형명</div><div class="value">{{ p.intr_rate_type_nm }}</div>
            <div class="label">저축 기간 (단위: 개월)</div><div class="value">{{ p.save_trm }}</div>
            <div class="label">저축 금리</div><div class="value">{{ p.intr_rate }}</div>
            <div class="label">최고 우대 금리</div><div class="value">{{ p.intr_rate2 }}</div>
            <div class="label">공시 제출월</div><div class="value">{{ p.dcls_month }}</div>
          </div>
        </div>
        {% endfor %}


      {# 정기 예금 #}
      {% elif product.category == "fixed_deposit" %}
        <p class="option-name">정기 예금 옵션</p>

        {% for p in fixed_options %}
        <div class="option-card">
          <div class="info-grid">
            <div class="label">가입 대상</div><div class="value">{{ p.join_member }}</div>
            <div class="label">만기 후 이자율</div><div class="value">{{ p.mtrt_int }}</div>
            <div class="label">우대조건</div><div class="value">{{ p.spcl_cnd }}</div>
            <div class="label">가입제한</div><div class="value">{{ p.join_deny }}</div>
            <div class="label">최고한도</div><div class="value">{{ p.max_limit }}</div>
            <div class="label">저축 금리 유형명</div><div class="value">{{ p.intr_rate_type_nm }}</div>
            <div class="label">저축 기간 (단위: 개월)</div><div class="value">{{ p.save_trm }}</div>
            <div class="label">저축 금리</div><div class="value">{{ p.intr_rate }}</div>
            <div class="label">최고 우대 금리</div><div class="value">{{ p.intr_rate2 }}</div>
            <div class="label">공시 제출월</div><div class="value">{{ p.dcls_month }}</div>
          </div>
        </div>
        {% endfor %}

      {# 전세 대출 #} 
      {% elif product.category == "jeonse_loan" %}
        <p class="option-name">전세 대출 옵션</p>

        {% for p in jeonse_options %}
        <div class="option-card">
          <div class="info-grid">
            <div class="label">대출 부대비용</div><div class="value">{{ p.loan_inci_expn }}</div>
            <div class="label">중도상환 수수료</div><div class="value">{{ p.erly_rpay_fee }}</div>
            <div class="label">연체 이자율</div><div class="value">{{ p.dly_rate }}</div>
            <div class="label">대출한도</div><div class="value">{{ p.loan_lmt }}</div>
            <div class="label">대출상환유형코드</div><div class="value">{{ p.rpay_type_nm }}</div>
            <div class="label">대출금리유형</div><div class="value">{{ p.lend_rate_type_nm }}</div>
            <div class="label">대출최저금리</div><div class="value">{{ p.lend_rate_min }}</div>
            <div class="label">대출최고금리</div><div class="value">{{ p.lend_rate_max }}</div>
            <div class="label">전월 취급 평균 금리</div><div class="value">{{ p.lend_rate_avg }}</div>
            <div class="label">공시 제출월</div><div class="value">{{ p.dcls_month }}</div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}