form {
  position: relative;
  /* 세로 중앙에 가깝게 정렬 */
  justify-content: flex-start;
  padding-top: 200px;
  gap: 25px;
  height: 100%;
}

/* 탈퇴 확인 공지 문구 */
.warning {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  line-height: 1.5;
}

/* 비밀번호 확인 폼 */
input {
  width: 400px;
  height: 50px;
}