form {
  position: relative;
  padding: 80px 120px;
  gap: 40px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

/* 입력 폼 */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

/* 항목의 이름 */
label {
  font-size: 15px;
  font-weight: bold;
  color: #8B8B8B;
}

input, select {
  width: 400px;
  height: 50px;
}

select:focus {
    outline: none; 
    border-color: #8B8B8B;
}

/* 선택 폼 기본 화살표 제거 */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #FFFFFF url("data:image/svg+xml,%3Csvg fill='%238B8B8B' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat right 20px center;
  background-size: 20px;
  padding-right: 30px;
}