body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
}

.page-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* --------- */
/* 1. 검색 창 */
/* --------- */
.search-bar {
    width: 100%;
    padding: 60px 160px 60px 160px;
    box-sizing: border-box;
}

/* 검색 메인 페이지의 요소와 동일하나, 그림자만 추가 */
.search-input-wrapper {
    width: 800px;
    height: 55px;
    background-color: #FFFFFF;
    border: 1.5px solid #E5E5E5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.search-input {
    flex-grow: 1;
    padding-left: 10px;
    border: none;
    outline: none; 
    background: none;
    font-size: 15px;
    color: #000000;
    font-family: 'Noto Sans KR', sans-serif;
}

.search-submit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #A9A9A9;
    margin-left: 10px;
    transform: scaleX(-1);
    transition: color 0.2s;
}

.search-submit-btn:hover {
    color: #000000;
}

/* ----------- */
/* 2. 검색 결과 */
/* ----------- */
.result-wrapper {
    width: 100%;
    flex-grow: 1;
    background-color: #F3F3F3;
    padding: 60px 160px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* 검색 결과 창 내부의 흰색 영역 */
.result-container {
    width: 100%;
    FLEX: 1; /* 부모와 동일한 높이 */
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px; /* 상단만 둥글게 */
    padding: 50px 50px;
    box-sizing: border-box;
}

/* 결과 내용 스타일 */
.result-list {
    font-size: 15px;
    color: #000000;
    line-height: 1.5;
}