name: Lint & Format Check

on:
  pull_request:
    branches: [develop, master]

jobs:
  ruff-format-check:
    name: Ruff Lint & Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff==0.14.5 pre-commit==4.4.0

      - name: Run Ruff Lint Check
        run: |
          ruff check .

      - name: Run Ruff Format Check
        run: |
          ruff format --check .