/* 로그인, 회원 가입 등 인증 확인 페이지에서 사용되는 공통 템플릿 */
/* 1. login.html (로그인 페이지) */
/* 2. signup.html (회원 가입 페이지) */
/* 3. verify.html (프로필 수정 본인 인증 확인 페이지) */

/* 화면 배경 */
body {
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* 입력 폼을 담는 상자 */
.container {
    width: 700px;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* 입력 폼 */
form {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form button {
    width: 55%;
    height: 50px;
    margin-bottom: 25px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

form input:focus {
    outline: none; 
    border-color: #8B8B8B;
}

input::placeholder {
    color: #8B8B8B;
}

/* 제출 버튼 */
button {
    background-color: #3F72AF;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* 에러 메시지 */
.error {
    font-size: 14px;
    font-weight: 500;
    color: #BE2E22;
    margin-top: 8px;
    line-height: 1.4;
}