/* 회원 가입 안내 문구 */
.text {
    font-size: 17px;
    color: #000000;
    margin: 0 0 50px 0;
}

/* 가입 링크의 색상과 밑줄을 없애기 위한 요소 */
.text a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.text a:hover {
    color: #3F72AF;
}