/* My Page 관련 페이지에서 사용되는 공통 템플릿
1. mypage.html (회원 정보 확인 및 수정 페이지)
2. mypage-change.html (비밀번호 변경 페이지)
3. mypage-remove.html (회원 탈퇴 페이지) */

/* 화면 배경 */
body {
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 입력 폼을 담는 상자 */
.container {
  width: 1100px;
  height: 700px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* 상단 메뉴 영역 */
.tab-menu {
  display: flex;
  gap: 40px;
  padding: 30px 50px 30px 50px;
  border-bottom: 1.5px solid #E5E5E5;
}

.tab-menu a {
  text-decoration: none;
  font-size: 15px;
  color: #A9A9A9;
  font-weight: 500;
}

.tab-menu a.active {
  color: #3F72AF;
  font-weight: 600;
}

/* 내부 폼 공통 스타일 */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

form input:focus {
    outline: none; 
    border-color: #8B8B8B;
}

input, select {
  font-family: 'Noto Sans KR', sans-serif;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  background-color: #FFFFFF;
  font-size: 15px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #A9A9A9;
}

input::placeholder {
  color: #A9A9A9;
}

/* 버튼 디자인 */
button {
  background-color: #3F72AF;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

/* 오른쪽 하단 버튼 디자인 */
.btn-bottom-right {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 130px;
  height: 50px;
}