/* mypage-layout.css */
/* 회원 정보 관련 페이지에서 사용되는 공통 템플릿 */

/* 1. update.html (회원 정보 조회 및 수정 페이지) */
/* 2. password.html (비밀번호 변경 페이지) */

/* 배경 */
html, body {
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  font-family: 'Pretendard', sans-serif;
}

/* 컨테이너 */
.container {
  height: 100%;
  display: flex;
  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
}

/* ---------- */
/* 1. 사이드바 */
/* ---------- */
.sidebar {
  width: 270px;
  height: 100%;
  background-color: #F3F3F3;
  color: #8B8B8B; 
  padding: 50px 0px 30px 40px;
  box-sizing: border-box;
  display: flex;
  gap: 25px;
  flex-shrink: 0;  /* 최소 너비 보장*/
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* 로고 */
.main-link img {
  height: 25px;
  width: auto;
  display: block;
  padding-bottom: 20px;
}

/* 내부 글씨 */
.sidebar a {
  text-decoration: none;
  font-size: 16px;
  color: #8B8B8B;
}

.sidebar a.active {
  color: #3F72AF;
  font-weight: 700;
}

/* 로그아웃 */
.logout-link {
  margin-top: auto;
}

/* --------------- */
/* 2. 폼 공통 스타일 */
/* --------------- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

form input:focus {
  outline: none; 
  border-color: #8B8B8B;
}

input, select {
  font-family: 'Pretendard', sans-serif;
  border: 1px solid #E5E5E5;
  border-radius: 30px;
  background-color: #FFFFFF;
  font-size: 15px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #A9A9A9;
}

input::placeholder {
  color: #A9A9A9;
}

/* ----------------- */
/* 3. 버튼 공통 스타일 */
/* ----------------- */
button {
  font-family: 'Pretendard', sans-serif;
  background-color: #3F72AF;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
}