/* mypage-layout.css */
/* 회원 정보 관련 페이지에서 사용되는 공통 템플릿 */
/* 1. update.html (회원 정보 조회 및 수정 페이지) */
/* 2. password.html (비밀번호 변경 페이지) */

/* 배경 */
html, body {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F3F3;
    font-family: 'Pretendard', sans-serif;
}

/* 입력 폼 컨테이너 */
.container {
    width: 80%;
    min-width: 450px;
    max-width: 1000px;
    height: 80vh;
    max-height: 650px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* -------- */
/* 1. 상단바 */
/* -------- */
.main-link img {
  height: 25px;
  padding-left: 10px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 60px 40px 50px;
}

.left-group {
    display: flex;
}

.right-group {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    padding-left: 10px;
}

.right-group .active {
  color: #3F72AF;
}

.header a {
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: #8B8B8B;
}

/* --------------- */
/* 2. 폼 공통 스타일 */
/* --------------- */
form input:focus {
  outline: none; 
  border-color: #8B8B8B;
}

input, select {
  font-family: 'Pretendard', sans-serif;
  border: 1px solid #E5E5E5;
  border-radius: 30px;
  background-color: #FFFFFF;
  font-size: 15px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #A9A9A9;
}

input::placeholder {
  color: #A9A9A9;
}

/* ----------------- */
/* 3. 버튼 공통 스타일 */
/* ----------------- */
button {
  font-family: 'Pretendard', sans-serif;
  background-color: #3F72AF;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
}