/* password.css */
/* 비밀번호 변경 페이지 개별 템플릿 */

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 60px auto;
}

input, button {
  width: 400px;
  height: 50px;
  font-size: 15px;
}

@media (max-width: 716px) {
  form {
    margin: 0;
  }

  input, button {
    width: calc(100% - 120px);
    margin: 0 60px;
  }
}