/* password.css */
/* 비밀번호 변경 페이지 개별 템플릿 */

form {
  justify-content: center;
  gap: 25px;
}

input {
  width: 400px;
  height: 50px;
  font-size: 15px;
}

/* 저장 버튼 */
button {
  width: 400px;
  height: 50px;
}
