/* update.css */
/* 회원 정보 조회 및 수정 페이지 개별 템플릿 */

form {
  margin-top: 50px;
  position: relative;
  gap: 30px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

/* 항목의 이름 */
label {
  font-size: 15px;
  font-weight: 700;
  color: #8B8B8B;
}

input, select {
  width: 450px;
  height: 50px;
}

select:focus {
  outline: none; 
  border-color: #8B8B8B;
}

/* 선택 폼 기본 화살표 제거 */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #FFFFFF url("data:image/svg+xml,%3Csvg fill='%238B8B8B' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat right 20px center;
  background-size: 20px;
  padding-right: 30px;
}

/* 하단 버튼 그룹 */
.btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  gap: 15px;
  width: 1100px;
  justify-content: flex-end;
}

/* 정보 수정 버튼 */
.btn-bottom-right {
  width: 135px;
  height: 50px;
}

/* 채팅 페이지 버튼 */
.chatbot-btn img {
    width: 145px;
}