/* update.css */
/* 회원 정보 조회 및 수정 페이지 템플릿 */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
    padding: 0 60px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    gap: 60px;
    width: 100%;
    justify-content: space-evenly;
}

.form-group {
    flex: 1 1 0; 
    max-width: 435px;
    min-width: 280px; 
    display: flex;
    flex-direction: column;
}

input, select {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

label {
    font-size: 15px;
    font-weight: 700;
    color: #8B8B8B;
    margin-bottom: 10px;
}

/* 선택 폼 기본 화살표 제거 */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFFFFF url("data:image/svg+xml,%3Csvg fill='%238B8B8B' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat right 20px center;
    background-size: 20px;
    padding-right: 30px;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 60px;
}

/* 정보 수정 버튼 */
.btn-bottom-right {
    width: 140px;
    height: 53px;
}

/* 반응형 */
@media (max-width: 900px) {
  .header {
        padding: 50px 60px 0 50px;
    }

    form {
        padding: 0 60px;
    }

    .form-row {
        flex-direction: column;
        gap: 30px;
    }

    .form-group {
        flex: 1 1 100%;
        max-width: 100%;
        min-width: unset;
    }

    .btn-group {
        justify-content: center;
        padding: 0 0 30px 0;
    }
}